body {
	padding: 0px;
	margin: 0px;
	background-color: #314e5b;
}

.box {
	background: rgb(228, 228, 228);
	width: 220px;
	height: 330px;
	border-radius: 35px;
	padding: 10px 35px 10px 35px;
}
.alinearTexto {
	text-align: center;
}
.alinearImg {
	width: 100%;
	margin: 15px 0 20px 0;
}
.bienvenidos {
	margin-bottom: 20px;
}
.cedula {
	background: #ecf0f1;
	border: #ccc 1px solid;
	border-bottom: #ccc 2px solid;
	padding: 8px;
	width: 250px;
	font-size: 1em;
	border-radius: 4px;
}

.btn {
	background: #111843;
	width: 150px;
	padding: 20px 0;
	color: white;
	border-radius: 12px;
	font-weight: 800;
	font-size: 0.8em;
	border-style: none;
}

.btn:hover {
	color: #ff6000;
}

.texto-info {
	font-size: 14px;
	height: 20px;
	color: #797d93;
}

html {
	overflow-y: hidden;
}
.centrar {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
